n8n/meraki-client-policy.workflow.json
{
  "name": "Meraki Client Policy (Block/Unblock)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meraki-client-policy",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d6e1f2a3-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "meraki-client-policy"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "networkId",
              "value": "THAY_NETWORK_ID_CUA_ANH_O_DAY",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "clientMac",
              "value": "={{ $json.body.mac }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "policy",
              "value": "={{ $json.body.policy }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "d6e1f2a3-0001-4000-8000-000000000002",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.meraki.com/api/v1/networks/{{ $json.networkId }}/clients/{{ $json.clientMac }}/policy",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ devicePolicy: $json.policy }) }}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "d6e1f2a3-0001-4000-8000-000000000003",
      "name": "Meraki Set Policy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, mac: $('Config').item.json.clientMac, policy: $('Config').item.json.policy, result: $json }) }}"
      },
      "id": "d6e1f2a3-0001-4000-8000-000000000004",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Meraki Set Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meraki Set Policy": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
